
    /* CSS reset */
    body{
    
        font-family: 'Ubuntu', sans-serif;
        margin: 0px;
        padding: 0px;
        background: url('Image/bg.jpg');
       
        background-repeat: no-repeat;
        background-size: cover;
        height: 100%;
        width: 100%;
        
        
    }
    .left{
        display: inline-block;
        /* border: 2px solid red; */
        position: absolute;
        left: 34px;
        top: 20px;
        

    }
    .left img{
        width: 104px;
        height: 75px;
        text-align: center;

    }
    .mid{
        display: block;
        width: 40%;
        margin: 20px auto;
        /* border: 2px solid green; */

    }
    .right{
        position: absolute;
        right: 34px;
        top: 20px;
        display: inline-block;
        /* border: 2px solid yellowgreen; */

    }
    .navbar{
        display: inline-block;

    }
    .navbar li{
        
        display: inline-block;
        font-size: 13px;
    }
    .navbar li a{
        color: white;
        text-decoration: none;
        padding: 34px 23px;
    }
    .navbar li a:hover, .navbar li a:active{
        text-decoration: underline;
        color: teal;
    }
    .left div{
        color: white;
        text-align: center;
        font-size: 11px;
    }
    .btn{
        font-family: 'Ubuntu', sans-serif;
        margin: 0px 10px;
        background-color: black;
        color: white;
        padding: 4px 14px;
        border: 2px solid gray;
        border-radius: 10px;
        font-size: 13px;
        cursor: pointer;
    }
    .btn:hover{
        background-color: teal;
    }
    .container{
        border: 2px solid white;
        margin: 90px 34px;
        padding: 28px 38px;
        width: 33%;
        border-radius: 14px;
        color: white;
        

    }
    .form-group input{
        font-family: 'Ubuntu', sans-serif;
        text-align: center;
        display: block;
        width: 150px;
        padding: 8px;
        border: 2px solid black;
        margin: 4px auto;
        border-radius: 20px;

    }
    .container h1{
        text-align: center;
    }
    .container button{
        display: block;
        width: 20%;
        margin: auto;
    }
